h1, h3, strong, a {
    display: flex;
    background-color: rgb(235, 131, 12);
    width: 20%;
    border-radius: 15px;
    justify-content: center;
    color: white;
    margin-top: 2%;
    margin-left: 40%;

}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    margin-left: 30%;
}